body {
  background: black !important;
}

html {
  background: black !important;
}

.App {
  text-align: center;
  background: black;
  color: white !important;
}

.video {
  width: 480px;
  height: 480px;
  border: 1px solid #233250;
}
